@charset "UTF-8";

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'FontAwsome-Solid';
    src: url(../fonts/fa-solid-900.ttf);
}

@font-face {
    font-family: 'Poppings-Regular';
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppings-Bold';
    src: url(../fonts/Poppins-Bold.ttf);
}

body {
  font-family: 'Poppings-Regular';
}

/* Tab */

.assignment-panel {
  width: 100%;
}

.tab-nav {
  list-style: none;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.tab-nav li {
  float: left;
  cursor: pointer;
  text-align: center;
}

.tab-cnt {
  display: none;
}

.tab-cnt.active {
  display: block;
}

.tbl-assignment {
  width: 100%;
}

.tbl-assignment thead {
  font-weight: bold;
  text-transform: uppercase;
  background-color: #E5E5E5;
  font-size: 16px;
}

.tbl-assignment td {
  padding: 20px 30px;
}

.tbl-assignment td:first-child {
  width: 30%;
}

.tbl-assignment td:nth-child(2) {
  width: 40%;
}

.tbl-assignment td:nth-child(3) {
  width: 30%;
}

.tbl-assignment .tr-record {
  background-color: #EFF2F8;
}

.tbl-assignment .file-path a {
  color: #000000;
}

.accd-dt-margin {
  margin-bottom: 25px;
}

.course-tab {
  margin-bottom: 30px;
  overflow-x: scroll;
  display: -webkit-inline-box;
}

.course-tab li {
  width: 25%;
  padding: 20px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.course-tab li:hover,
.course-tab li.active {
  font-family: 'Poppings-Bold';
  border-bottom: 3px solid #1492E6;
}

/* Accordian for Comment*/

.accd-dt span {
  font-size: 18px;
  float: left;
}

.accd-dt:hover {
  cursor: pointer;
}

.accd-dd{
  display: none;
}

.accd-dt i{
  font-style: normal;
  margin-left: 5px;
  font-family: 'FontAwsome-Solid';
}

.cmt-toggle {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Poppings-Bold';
}

.cmt-text {
  margin-bottom: 20px;
}

.cmt-msg input {
  padding: 12px;
  font-size: 22px;
  font-family: "FontAwsome-Solid";
  border-radius: 4px;
}

.cmt-msg input[type="text"] {
  box-sizing: border-box;
  padding:  15px 20px;
  width: 365px;
  font-size: 14px;
  font-family: Arial;
  color: #000000;
  border: 0.5px solid #000000;
}

.cmt-msg input[type="submit"] {
  width: 48px;
  border-style: none;
  background-color: #2699FB;
  color: white;
}

.msg-box-empty  {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #E5E5E5;
  font-size: 16px;
}

/* Common */
.clearFix::after {
	content: "";
	clear: both;
	display: block;
	visibility: hidden;
	font-size: 0;
}
