@charset "UTF-8";

@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins-Bold.ttf);
}

.course-title {
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'Poppins-Bold';
}

.title-btn {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

/* Get Started Button */

.default-enroll-btn {
    border: none;
    font-family: 'Poppins-Regular';
    color: #ffffff;
    border-radius: 4px;
    padding: 10px 23px;
    font-size: 16px;
}

button:hover,
a:hover {
    opacity: 0.8;
    cursor: pointer;
}

.start-btn {
    background-color: #7FBF38;
}

.disabled-btn {
    background-color: #a8a8a8;
    pointer-events: none;
}

.course-description {
    padding: 20px 0 46px;
    line-height: 1.6;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.assignment-name {
    padding: 0 0 0 26px;
    font-family: 'Poppins-Bold';
}

.assignment-duration {
    padding: 26px 0 31px 0;
}

.resources-blk {
    padding: 58px 0 0;
}

.resources-lbl,
.homework-lbl {
    font-size: 16px;
    font-family: 'Poppins-Bold';
}

.disabled-lbl {
    color: #a8a8a8;
}

.file-name {
    text-decoration: underline;
}

.resources {
    padding: 18px 21px 0 0;
}

/* Download File Button */

.default-download-btn {
    text-decoration: none;
    color: #ffffff;
    border-radius: 4px;
    padding: 13px 14px;
    font-size: 13px;
}

.download-btn {
    background-color: #1492E6;
}

.homework-blk {
    padding: 51px 0 0 0;
}

.homework {
    padding: 29px 21px 0 0;
}

/* Clear File Input Button */

.default-clear-btn {
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 40px;
    font-size: 13px;
}

.clear-btn {
    color: #1492E6;
    border: 2px solid #1492E6;
}

.disabled-clear-btn {
    color: #a8a8a8;
    border: 2px solid #a8a8a8;
    pointer-events: none;
}

/* Submit File Button */

.default-submit-btn {
    color: #ffffff;
    border-radius: 4px;
    padding: 9px 40px;
    font-family: 'Poppins-Regular';
    font-size: 13px;
    margin-left: 19px;
    border: none;
}

.submit-btn {
    background-color: #1492E6;
}

/* Input File Button */

.upload-hw {
    border: 0.5px solid #000000;
    padding: 2px 20px 2px 2px;
    width: 50%;
}

.disabled-input {
    border: 0.5px solid #a8a8a8;
    padding: 2px 113px 2px 2px;
}

.default-file-input::file-selector-button {
    border: none;
    padding: 8px;
    color: #ffffff;
}

.file-input::file-selector-button {
    background-color: #7FBF38;
}

.disabled-file-input::file-selector-button {
    background-color: #a8a8a8;
    pointer-events: none;
}

.file-input::file-selector-button:hover {
    opacity: 0.7;
}

/* Accordian - Appearence */

.accd-li.course {
    padding-bottom: 15px;
}

.accd-li.course .accd-dt {
    background-color: #ffffff;
    padding: 14px 31px 12px;
    color: #000000;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 10%);
}

.accd-li.course .accd-dd {
    background-color: #ffffff;
    padding: 0 0 51px 92px;
    box-shadow: 0px 7px 6px rgb(0 0 0 / 10%);
}

.accd-li.course .accd-dt i {
    font-family: "FontAwsome-Solid";
    font-style: normal;
    font-size: 22px;
    color: #1492E6;
}

.assign-name {
    padding: 0 0 0 26px;
    font-family: 'Poppins-Bold';
}

.d-left {
    margin-left: auto;
}

/* To start assignment */

.start-assign-btn {
    color: #ffffff;
    border: none;
    padding: 8px 20px;
    text-decoration: none;
    display: inline-block;
    padding: 7px 30px;
    font-size: 16px;
    font-family: 'Poppins-Regular';
}

.start-assignment {
    background-color: #378E87;
}

/* Modal Confirm */

.modal {
    text-align: center;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
    font-size: 18px;
    font-weight: bold;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.modal-close {
    color: rgb(148, 148, 148);
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    cursor: pointer;
    opacity: 0.8;
}

.cancel-btn {
    text-decoration: none;
    border-radius: 4px;
    padding: 7px 30px;
    font-size: 16px;
    color: #1492E6;
    border: 2px solid #1492E6;
    font-family: 'Poppins-Regular';
    background-color: #ffffff;
    font-weight: normal;
}

.mdl-inner {
    margin: 30px 10px;
}

.mdl-btns {
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm-btn {
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 13px 40px;
    font-weight: normal;
    background-color: #1492E6;
    margin-left: 20px;
    color: #ffffff;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #1492E6;
    color: white;
    font-size: 16px;
    padding-block: 5px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    width: 120px;
    box-sizing: border-box;
    border-radius: 4px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    top: 30%;
    left: 45%;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 5%);
    z-index: 9;
    background-color: #a8a8a8;
}

/* Add styles to the form container */
.form-container {
    max-width: 700px;
    padding: 20px;
    text-align: center;
    background-color: white;
    border: 3px solid #f1f1f1;
}

/* Set a style for the submit/login button */
.form-container .popup-btn {
    background-color: #1492E6;
    color: white;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    width: 75%;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 16px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: #ffffff;
    border: 1px solid #1492E6;
    color: #1492E6;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.mdl-title {
    font-weight: bold;
    width: 75%;
    margin: 0 auto 5%;
    line-height: 1.5;
}
