@charset "UTF-8";

@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins-Bold.ttf);
}

.course-title {
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'Poppins-Bold';
}

.title-btn {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

/* Get Started Button */

.default-enroll-btn {
    border: none;
    font-family: 'Poppins-Regular';
    color: #ffffff;
    border-radius: 4px;
    padding: 10px 23px;
    font-size: 16px;
}

.start-btn {
    background-color: #7FBF38;
}

.disabled-btn {
    background-color: #a8a8a8;
    pointer-events: none;
}

.course-description {
    padding: 20px 0 46px;
    line-height: 1.6;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.assignment-name {
    padding: 0 0 0 26px;
    font-family: 'Poppins-Bold';
}

.assignment-duration {
    padding: 26px 0 31px 0;
}

.resources-blk {
    padding: 58px 0 0;
}

.resources-lbl,
.homework-lbl {
    font-size: 16px;
    font-family: 'Poppins-Bold';
}

.disabled-lbl {
    color: #a8a8a8;
}

.file-name {
    text-decoration: underline;
}

.resources {
    padding: 18px 21px 0 0;
}

/* Download File Button */

.default-download-btn {
    text-decoration: none;
    color: #ffffff;
    border-radius: 4px;
    padding: 13px 14px;
    font-size: 13px;
}

.download-btn {
    background-color: #1492E6;
}

.confirm-btn:hover,
.start-assignment:hover,
.start-btn:hover,
.download-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.homework-blk {
    padding: 51px 0 0 0;
}

.homework {
    padding: 29px 21px 0 0;
}

/* Clear File Input Button */

.default-clear-btn {
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 40px;
    font-size: 13px;
}

.clear-btn {
    color: #1492E6;
    border: 2px solid #1492E6;
}

.disabled-clear-btn {
    color: #a8a8a8;
    border: 2px solid #a8a8a8;
    pointer-events: none;
}

/* Submit File Button */

.default-submit-btn {
    color: #ffffff;
    border-radius: 4px;
    padding: 9px 40px;
    font-family: 'Poppins-Regular';
    font-size: 13px;
    margin-left: 19px;
    border: none;
}

.submit-btn {
    background-color: #1492E6;
}

/* Input File Button */

.upload-hw {
    border: 0.5px solid #000000;
    padding: 2px 20px 2px 2px;
    width: 50%;
}

.disabled-input {
    width: 50%;
    border: 0.5px solid #a8a8a8;
    padding: 2px 113px 2px 2px;
}

.default-file-input::file-selector-button {
    border: none;
    padding: 7px;
    color: #ffffff;
}

.file-input::file-selector-button {
    background-color: #7FBF38;
}

.disabled-file-input::file-selector-button {
    background-color: #a8a8a8;
    pointer-events: none;
}

.file-input::file-selector-button:hover {
    opacity: 0.8;
}

/* Accordian - Appearence */

.accd-li.course {
    padding-bottom: 15px;
}

.accd-li.course .accd-dt {
    background-color: #ffffff;
    padding: 14px 31px 12px;
    color: #000000;
    border: 1px solid #dce2e5;
    border-bottom: none;
    box-shadow: 0 4px 0 #eceff0;
}

.accd-li.course .accd-dd {
    background-color: #ffffff;
    padding: 0 0 51px 92px;
    border: 1px solid #dce2e5;
    box-shadow: 0 4px 0 #eceff0;
    border-top: none;
}

.accd-li.course .accd-dt i {
    font-family: "FontAwsome-Solid";
    font-style: normal;
    font-size: 22px;
    color: #1492E6;
}

.assign-name {
    padding: 0 0 0 26px;
    font-family: 'Poppins-Bold';
}

.d-left {
    margin-left: auto;
}

/* To start assignment */

.start-assign-btn {
    color: #ffffff;
    border: none;
    padding: 8px 20px;
    text-decoration: none;
    display: inline-block;
    padding: 7px 30px;
    font-size: 16px;
    font-family: 'Poppins-Regular';
}

.start-assignment {
    background-color: #378E87;
}

/* Modal Confirm */

.modal {
    text-align: center;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
    font-size: 18px;
    font-weight: bold;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.modal-close {
    color: rgb(148, 148, 148);
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus,
.default-submit-btn:hover,
.default-clear-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.cancel-btn {
    text-decoration: none;
    border-radius: 4px;
    padding: 7px 30px;
    font-size: 16px;
    color: #1492E6;
    border: 2px solid #1492E6;
    font-family: 'Poppins-Regular';
    background-color: #ffffff;
    font-weight: normal;
}

.mdl-inner {
    margin: 30px 10px;
}

.mdl-btns {
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm-btn {
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 13px 40px;
    font-weight: normal;
    background-color: #1492E6;
    margin-left: 20px;
    color: #ffffff;
}

.mdl-txt {
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    top: 20%;
    left: 45%;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 5%);
    z-index: 9;
    background-color: #a8a8a8;
}

/* Add styles to the form container */
.form-container {
    max-width: 700px;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    border: 3px solid #f1f1f1;
}

/* Set a style for the submit/login button */
.form-container .popup-btn {
    background-color: #1492E6;
    color: #ffffff;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    width: 75%;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 16px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: #ffffff;
    border: 1px solid #1492E6;
    color: #1492E6;
}

/* Add some hover effects to buttons */

.form-container .popup-btn:hover,
.form-container .cancel:hover {
    opacity: 0.8;
}

.mdl-title {
    width: 75%;
    margin: 0 auto 5%;
    line-height: 1.5;
}
@media screen and (min-width: 641px) and (max-width: 1040px) {
  
    /* course details*/

    .course-title {      
        font-size: 2.604vw;
        margin-top: 2%;
    }
    .course-description {
        padding: 2% 0 4%;
        font-size: 2.083vw;
    }
    .default-enroll-btn {
        font-size: 1.823vw;
        padding: 1.5% 3%;
    }
    .accd-status img{
        width: 4.056vw;
    }
    .assign-name {
        padding: 0 0 0 14px;
        font-size: 2.083vw;
    }
    .accd-li.course .accd-dt i {
        font-size: 2.344vw;
    }
    .img-status-icon {
        width: 8%;
    }

    .form-popup {
        width: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .modalContent {
        width: 55%;
        font-size: 2.4vw;
        margin-top: 8%;
    }

    .mdl-btns {
        margin: 7% 0;
    }
    .confirm-btn {
        padding: 2.8% 7%;
        font-size: 1.872vw;
    }
    .cancel-btn {
        padding: 1.5% 7%;
        font-size: 1.872vw;
    }

    .accd-dt span {
        font-size: 2.184vw;
    }

    .accd-li.course .accd-dt {
        padding: 2% 2.5%;
    }

    .accd-li.course .accd-dd {
        padding: 0 0 5% 10%;
    }

    .accd-content {
        font-size: 16px;
    }

    .assignment-duration {
        padding: 4% 0 3% 0;
        font-size: 2.028vw;
    }

    .assignment-description {
        font-size: 2.028vw;
    }

    .start-assign-btn {
        font-size: 1.872vw;
        padding: 1.4% 5%;
    }

    .resources-blk,
    .homework-blk {
        padding-top: 7%;
    }

    .resources {
        padding-right: 2%;
    }
    
    .resources-lbl,
    .homework-lbl {
        font-size: 2.184vw;
    }

    .homework {
        padding: 4% 2% 0 0;
    }

    .file-name {
        font-size: 2.028vw;
    }
    .default-download-btn {
        font-size: 1.563vw;
        padding: 2.2% 1.7%;
    }

    .btn-box {
        justify-content: right;
    }

    .default-clear-btn,
    .default-submit-btn {
        margin-left: 12%;
        font-size: 1.563vw;
        padding: 11% 37%;
    }
    .default-file-input::file-selector-button {
        padding: 0.624vw;
    }
    
    /* get started modal */

    .mdl-txt {
        font-size: 2.083vw;
        padding: 5% 0 0;
    }
}

@media screen and (max-width: 640px) {
  
    /* course details*/

    .form-popup {
        width: 60%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .course-title {
        font-size: 4.2vw;
    }

    .course-description {
        font-size: 2.5vw;
        padding: 5% 0;
    }

    .modalContent {
        width: 70%;
        font-size: 2.4vw;
        margin-top: 15%;
    }

    .mdl-btns {
        justify-content: space-evenly;
    }
    .confirm-btn {
        width: 40%;
        margin-left: 0;
        padding: 4.3%;
    }
    .cancel-btn {
        width: 40%;
        display: block;
        padding: 2%;
    }

    .default-enroll-btn {
        font-size: 2.8vw;
        padding: 2% 3%;
    }
    .accd-dt span {
        font-size: 2.7vw;
    }

    .accd-li.course .accd-dt {
        padding: 2% 2.5%;
    }

    .accd-li.course .accd-dd {
        padding: 0 0 5% 10%;
    }

    .accd-content {
        font-size: 2.8vw;
    }

    .assignment-duration {
        padding: 5% 0;
    }

    .resources-blk,
    .homework-blk {
        padding-top: 10%;
    }

    .file-name {
        font-size: 2.4vw;
    }

    .default-download-btn {
        width: 25%;
        font-size: 2.2vw;
        padding: 2%;
    }
    .homework {
        padding: 5% 0;
        display: block;
    }

    .upload-hw {
        float: none;
        width: 90%;
        padding-right: 2%;
    }

    .btn-box {
        display: block;
        float: none;
        width: 60%;
        margin: 4% 0 8% 0;
    }

    .default-clear-btn {
        text-align: center;
        float: left;
        width: 40%;
        padding: 4% 2%;
    }

    .default-submit-btn {
        float: left;
        width: 40%;
        padding: 3.5% 2%;
        margin-left: 2%;
    }

    .disabled-input {
        width: 90%;
    }
}