@charset "UTF-8";

.statistics {
    display: flex;
    margin-bottom: 3%;
}

.chart-bg {
    padding: 2%;
}

.chart-pnl {
    width: 100%;
}

.student-data {
    background: #ffffff;
    border-radius: 4px;
    width: 27%;
    text-align: center;
    line-height: 1.5;
    padding: 15px;
    border: 1px solid #cccccc;
}

.totalEnrolled,
.totalcompleted {
    margin-right: 5%;
}

.data-title {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 0.1px dotted #a8a8a8;
}

.pie-col {
    border-right: 1px solid #cccccc;
}