@charset "UTF-8";

.title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.student-info {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 5%;
}

.student-info-header {
  background: #E5E5E5;
  font-size: 16px;
  text-align: left;
  text-transform: uppercase;
}

.student-info th,
.student-info td {
  padding: 2% 1%;
}

.student-info-content {
  background: #EFF2F8;
}


@media screen and (min-width: 641px) and (max-width: 1040px) {
  
  .student-info {
    overflow-x: scroll;
    display: -webkit-inline-box;
  }

  .student-info th {
    min-width: 170px;
  }
  
  .student-info th,
  .student-info td {
    padding: 1% 3%;
  }

}

@media screen and (max-width:640px) {

  .title {
    font-size: 3vw;
    margin-bottom: 1vh;
  }

  .student-info {
      overflow-x: scroll;
      display: -webkit-inline-box;
  }

  .student-info th {
    min-width: 20vw;
    font-size: 2.5vw;
  }
  
  .student-info td {
    padding-inline: 2vw;
    font-size: 2.5vw;
  }
}