@font-face {
    font-family: 'Poppings-Regular';
    src: url(../fonts/Poppins-Regular.ttf);
}

* {
    color: #1a1f36;
    box-sizing: border-box;
    font-family: 'Poppings-Regular';
}

.login-root {
    margin: 0 auto;
}
a {
    color: #1492E6;
    text-decoration: none;
  }

.box-root {
    box-sizing: border-box;
    display: inline-block;
    margin-top: 24px;
}
.formbg {
    display: inline-block;
    max-width: 717px;
    margin-left: 375px;
    background: white;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}
.text {
    padding-bottom: 24px;
}

span.login-title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-bottom: 42px;
    color: #000000;
}

span {
    display: inline-block;
    font-size: 15px;
    line-height: 28px;
    color: rgb(255, 0, 0);
}
label {
    display: inline-block;
    margin-bottom: 10px;
}
.formbg-inner{
    padding: 25px 152px;
}
.reset-pass{
    display: inline-block;
}
.text input,
textarea {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: none;
    border-radius: 9px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
.login-btn{
    width: 100%;
    padding: 8px 16px;
    background-color: #1492E6;
    border: none;
    color: #fff;
    font-weight: normal;
    cursor: pointer;
    font-size: 16px;
}
.register-btn{
    width: 100%;
    padding: 8px 16px;
    background-color: #1492E6;
    border: none;
    color: #fff;
    font-weight: normal;
    cursor: pointer;
    font-size: 16px;
}
.edit-btn{
    width: 100%;
    padding: 8px 16px;
    background-color: #1492E6;
    border: none;
    color: #fff;
    font-weight: normal;
    cursor: pointer;
    font-size: 16px;
}
hr {
    width: 100%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 55px 0 55px 0px;
}
#role-select{
    width: 100%;
    padding: 8px 16px;
    border-radius: 9px;
}
/* Tablet */
@media screen and (min-width: 641px) and (max-width: 1040px) {
    .formbg{
        max-width: 100%;
        width: 70%;
        margin-left: 200px;
    }
    span.login-title{
        font-size: 22px;
    }
    label{
        font-size: 14px;
    }
    .text input{
        font-size: 14px;
    }
    .reset-pass a{
        font-size: 14px;
    }
    .login-btn{
        font-size: 14px;
    }
    p{
        font-size: 14px;
    }
}
@media screen and (min-width: 760px) and (max-width: 960px) {
    .formbg{
        margin-left: 130px;
    }
}
@media screen and (max-width: 760px){
    .formbg{
        margin-left: 120px;
    }
}

@media screen and (max-width: 640px){
    .formbg{
        margin-left: 0px;
    }
}